<h3>{{title}}</h3>
<p>{{body}}</p>
<p>By: {{User.username}} on {{createdAt}}</p>
<hr>
{{#each Comments}}
    <p>{{comment}}</p>
    <p>By: {{User.username}} on {{createdAt}}</p>
    <hr>
{{/each}}
<form action="" id="newComment" class="form-control mb-3">
    <textarea id="comment" blogId={{id}} rows="3" placeholder="comment here" class="form-control mb-2"></textarea>
    <button class = "btn btn-dark">Comment</button>
</form>

<script src="/js/blogpost.js"></script>