<h1>Welcome back {{username}}</h1>
<h2>All your blogs:</h2>
<form action="" id="newBlog" class="form-control">
    <input type="text" id="title" placeholder="title" class="form-control mb-2">
    <textarea id="body" rows="5" placeholder="body" class="form-control mb-2"></textarea>
    <button class="btn btn-dark">Post Blog</button>
</form>
{{#each Blogs}}
<div>
    <input type="text" class="form-control form-control-lg mt-3" value="{{title}}">
    <input type="text" class="form-control" value="{{body}}">
    <p>Posted on {{updatedAt}}</p>
    <button class="deleteBtn btn btn-secondary me-4" value={{id}}>Delete</button>
    <button class="updateBtn btn btn-secondary" value={{id}}>Update</button>
</div>
<hr>
{{/each}}

<script src="/js/profile.js"></script>